.projects-container {
	padding: 60px 20px;
	background-color: #1e1e2f;
	color: #ffffff;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	animation: fadeIn 1s ease-in-out; /* Fade-in animation for the page */
	position: relative; /* To position back button */
	  height: auto;
	  
  }
  
  .projects-title {
	font-size: 36px;
	color: #ffd700;
	margin-bottom: 40px;
  }
  
  .projects-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	justify-items: center;
  }
  
  .project-card {
	background-color: #2e2e3a;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	width: 100%;
	max-width: 400px;
	text-align: left;
  }
  
  .project-card h2 {
	font-size: 24px;
	color: #ffd700;
	margin-bottom: 10px;
  }
  
  .project-card p {
	font-size: 16px;
	color: #c0c0c0;
	margin-bottom: 20px;
  }
  
  .view-project-button {
	text-decoration: none;
	color: #ffffff;
	background-color: #ffd700;
	padding: 10px 16px;
	border-radius: 8px;
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s;
  }
  
  .view-project-button:hover {
	background-color: #e6c200;
  }
  @media (min-width: 346px) and (max-width: 650px) {
	.projects-container {
	  padding: 40px 10px;
	  width: 90%;
	  margin-left: 20px;
	}
	.projects-title {
	  font-size: 28px;
	  margin-bottom: 20px;
	}
	.projects-grid {
	  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	  gap: 15px;
	}
	.project-card {
	  padding: 15px;
	  max-width: 300px;
	}
	.project-card h2 {
	  font-size: 20px;
	}
	.project-card p {
	  font-size: 14px;
	}
	.view-project-button {
	  font-size: 14px;
	  padding: 8px 12px;
	}
  }
